<app-nav-top-bar (logoutEvent)="receiveLogoutEvent()"></app-nav-top-bar>

<!--<app-login *ngIf="!currentUser" (loginEvent)="receiveLoginEvent($event)"></app-login>-->
<!--<div class="container-fluid py-3" *ngIf="currentUser" style="width:100%; height:100%;">-->

<!--<div class="container-fluid h-100 d-flex justify-content-center">
  <div class="row my-auto">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="jumbotron shadow">
            <h3 class="mb-1 text-center">
              <span class="oi oi-lock-locked"></span>
              &nbsp; Log in to Spring Boot Angular Template
            </h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<div class="container-fluid py-3" style="width:100%; height:100%;">
  <router-outlet></router-outlet>
</div>
