<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
  <!--<img src="../assets/images/tcb-logo.svg" alt="tcb logo" width="400" height="300" >-->
</div>

<div class="container" [hidden]="authenticated">
  <p>Login to access Data</p>

  <a href="/login" class="btn btn-success">
    <i class="material-icons">done</i>
    Login
  </a>
</div>

<div class="container" [hidden]="!authenticated">
  <p>Login Successful</p>

  <button type="button" class="btn btn-danger" (click)="logout()">
    <i class="material-icons">eject</i>
    Logout
  </button>
</div>

<div class="container">
  <span class="d-block p-2 bg-secondary text-white"></span>
</div>

<div class="container">
  <nav class="nav nav-tabs">
    <a class="nav-link active" routerLink="/personlist">Personenliste</a>
    <a class="nav-link" href="#">Administration</a>
  </nav>
</div>

<router-outlet></router-outlet>
