<div class="modal fade" id="roleDeleteModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete Role</h5>
        <button type="button" class="close" data-dismiss="modal"></button>
      </div>

      <div class="modal-body">
        <p>Are you sure to delete role '{{templateRoleId}}'?</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="deleteRole()">Yes
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" #disposeModal>No
        </button>
      </div>

    </div>
  </div>
</div>
