<h1 class="display-4">Role List</h1>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
        data-whatever="@getbootstrap" (click)="init(DetailMode.NEW, TemplateRoleFactory.empty())">
  New Role
</button>

<table class="table table-striped" [appShowIfPermission]="'ROLE_ADMIN'">
  <thead>
  <tr>
    <th scope="col">ID</th>
    <th scope="col">Description</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let templateRole of templateRoles">
    <td>{{templateRole.id}}</td>
    <td>{{templateRole.description}}</td>
    <td>
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
              data-whatever="@getbootstrap" (click)="init(DetailMode.EDIT, templateRole)">Edit
      </button>
    </td>
  </tr>
  </tbody>
</table>

<app-role-detail (reloadListEvent)="reloadList($event)"></app-role-detail>

