<div class="row">
  <div class="col">
    <div class="alert alert-success" role=alert *ngIf="deleteSuccessful === true">{{statusMessage}}
    </div>
    <div class="alert alert-danger" role=alert *ngIf="deleteSuccessful === false">{{statusMessage}}
    </div>
  </div>
</div>


<div class="row align-items-baseline" [appShowIfPermission]="'ROLE_ADMIN'">
  <div class="col">
    <div class="template-title"><h4>Role List</h4></div>
  </div>
  <div class="col button-sidebar">
    <div class="row">
      <div class="col-4">
        <button type="button" class="btn btn-success button-title" data-toggle="modal"
                data-target="#roleDetailModal"
                data-whatever="@getbootstrap" (click)="openRoleDetailDialog(DetailMode.NEW)">
          <!--<span class="oi oi-plus"></span>-->
          <i class="fa fa-plus"></i>
        </button>
      </div>
      <!-- TODO: Access through method rowSelected causes unnecessary calls -->
      <div class="col-4">
        <button #btnEdit [disabled]="!agGridRoleList.rowsSelected()" type="button"
                class="btn btn-primary button-title"
                data-toggle="modal" data-target="#roleDetailModal"
                (click)="openRoleDetailDialog(DetailMode.EDIT)">
          <!--<span class="oi oi-pencil"></span>-->
          <i class="fa fa-pen"></i>
        </button>
      </div>
      <div class="col-4">
        <!-- TODO: Access through method rowSelected causes unnecessary calls -->
        <button [disabled]="!agGridRoleList.rowsSelected()" type="button" class="btn btn-danger button-title"
                data-toggle="modal" data-target="#roleDeleteModal" (click)="openRoleDeleteDialog()">
          <!--<span class="oi oi-trash"></span>-->
          <i class="fa fa-trash-alt"></i>
        </button>
      </div>
    </div>
  </div>
</div>

<div class="row" style="height:100%">
  <div class="col" style="width:100%; height:100%">
    <div id="div-ag-grid" #divAgGrid style="width:100%; height:100%">
      <ag-grid-angular id="ag-grid" class="ag-theme-balham" #agGrid style="width:100%; height:100%;"
                       rowSelection="single"
                       (gridReady)="agGridRoleList.onGridReady($event.api)"
                       (gridSizeChanged)="agGridRoleList.resizeColumns($event.columnApi)"
                       (modelUpdated)="agGridRoleList.resizeColumns($event.columnApi)"
                       (rowDoubleClicked)="agGridRoleList.onRowDoubleClicked()"
                       [columnDefs]="agGridRoleList.columnDefs"
                       [rowData]="templateRoles"
                       [gridOptions]="agGridRoleList.gridOptions"
                       enableSorting="true"
                       floatingFilter="true"
                       domLayout="normal">
      </ag-grid-angular>
    </div>
  </div>
</div>

<app-role-detail (detailActionDoneEvent)="detailActionDone($event)"></app-role-detail>

<app-role-delete (deleteActionDoneEvent)="deleteActionDone($event)"></app-role-delete>
